@import "fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply font-sans antialiased text-zinc-900 bg-zinc-50;
}
main {
  /* @apply pb-0; */
}
h1 {
  @apply font-display tracking-tight text-3xl;
}

h2 {
  @apply font-display text-2xl;
}

h3 {
  @apply font-display text-2xl;
  font-smooth: auto;
  -webkit-font-smoothing: auto;
  /* @mixin text-crt 0.3;  */
  /* letter-spacing: -1px; */
}
.font-display {
  font-smooth: auto;
  -webkit-font-smoothing: auto;
}
nav {
  ul {
    li {
      a {
        @apply font-display text-2xl;
      }
    }
  }
}
p,
li {
  strong,
  b {
    @apply font-bold;
  }
}
a,
p a,
li a {
  @apply underline font-display;
  font-weight: 500;
}

.text-prose {
  @screen md {
    @apply mt-5 text-xl;
  }

  p {
    @apply mt-3 mx-auto text-base max-w-4xl font-light;

    @screen sm {
      @apply text-lg;
    }
  }
}

section {
  @apply mb-16 px-6 xl:px-0;
  &:last-child {
    /* @apply mb-0; */
  }
  section {
    @apply px-0 mb-0;
  }

  &.wide {
    @apply mb-0;
  }
  @screen md {
    /* @apply mb-24 px-12; */
  }
  &.what-we-do {
    & ul {
      padding: 0 0 0 13px;
      margin: 0;
      list-style: none;
      text-indent: -13px;

      & li:before {
        content: "– ";
      }
    }
  }
  @screen lg {
    &:last-child {
      /* @apply mb-0; */
    }
  }
  p {
    @apply mt-3;
  }
  p,
  li {
    @apply text-base font-light;

    @screen sm {
      @apply text-lg;
    }
  }

  h2 {
    @apply flex-1 mb-2;
  }
}

section {
}

article {
  @apply mt-8;
  h2 {
    @apply uppercase tracking-tight font-medium;
  }
}
